# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database (Do not share patient data!)
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# IDEs and environments
.vscode/
.idea/
*.swp
.DS_Store

# Streamlit logs
.streamlit/
